{
  "ecmaFeatures" : {
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "templateStrings": true,
    "jsx": true,
  },

  "env": {
    "browser": true
  },

  "globals": {
  }
}
